@import "../../partials/media.scss";

#nav {
  /* Design */
  background-color: #272727;
  color: #ffffff;

  @include breakpoint(phone) {
    /* DOM */
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-left: 0px;
    border-right: 0px;
    padding: 1em;

    /* Typography */
    font-size: 2em;

    /* Layout */
    order: 2;
  }

  @include breakpoint(phablet) {
  }

  @include breakpoint(tablet) {
  }

  .team {
    text-align: center;
  }
}