@import "../../partials/media.scss";

#schedule-list {
  /* Design */
  background-color: #062f42;
  color: #e2e2e2;

  @include breakpoint(phone) {
    /* DOM */
    padding: 1em;

    /* Typography */
    font-size: 1em;

    /* Layout */
    order: 3;

    & > .game {
      padding: 0.5em;
      padding-left: 1em;
    }

    & > .highlight {
        /* DOM */
        border: 0px solid transparent;
        border-radius: 1em;

        /* Design */
        background-color: #0c4a44;
      }
  }

  @include breakpoint(phablet) {
  }

  @include breakpoint(tablet) {
  }


}