@import "../../partials/media.scss";

#schedule-item {
  /* Design */
  background-color: #0c4a44;
  color: #e2e2e2;

  @include breakpoint(phone) {
    /* DOM */
    padding: 1em;

    /* Typography */
    font-size: 1em;

    /* Layout */
    order: 1;
  }

  @include breakpoint(phablet) {
  }

  @include breakpoint(tablet) {
  }
}